mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 I forgot my Password 😩
    label(for="email") Email
    input(type="email" name="email" required)
    label(for="")
    input.button(type="submit" value="Send a Reset 😱")
