mixin loginForm()
  form.form(action="/login" method="POST")
    h2 Login
    label(for="email") Email
    input(type="email" name="email" required)
    label(for="password") Password
    input(type="password" name="password" required)
    label(for="")
    input.button(type="submit" value="Do It ⏎") 
